body
{
  animation: pulse 5s infinite;


  }

  @keyframes pulse {
    0% {
      background-color: #FAA0CF;
    }
    100% {
      background-color: #FDDF0A;
    }
  }
  h1,h2 {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 500%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

cite {
  text-align: center;
  color:red;
  animation: blinker 1s linear infinite;
}
@-webkit-keyframes blinker {
  50% { opacity: 0; }
}

#wrapper {
  display: flex;
  justify-content: space-between;

}
